{
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth":100,
    "semi": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "parser": "typescript",
    "endOfLine": "lf"
}